extends /layout.pug

block content
    h2 Whoops!
    p The requested page could not be found.
    a(href="/") Return to civilisation
    br
    br
    p La page demandée n'a pas pu être trouvée.
    a(href="/fr") Retour à la civilisation
