extends /layout.pug

block content
    h2 Whoops!
    p La page demandée n'a pas pu être trouvée.
    a(href="/") Retour à la civilisation
    br
    br
    p The requested page could not be found.
    a(href="/en") Return to civilisation
