$unit: 11pt
$spacing: $unit * 2

$white: white
$grey-lightest: #eee
$grey-light: #afafaf
$grey-dark: #414141
$grey-darkest: #111

@mixin font-size($size)
    font-size: $size
    line-height: $size * 1.2

@import 'fonts'

// Base styles

html
    margin: 0
    scroll-behavior: smooth
    background: $white
    +font-size($unit)

body
    font-family: 'Poppins', sans-serif
    margin: $spacing auto
    padding: 0 $spacing
    max-width: calc(max(80vw, 1280px))
    color: $grey-darkest

h1
    +font-size($unit * 3.6)
    font-weight: 200
    text-align: center
    margin-top: $spacing * 2
    margin-bottom: $spacing
    a
        text-decoration: none
    p
        +font-size($unit)
        font-weight: 200
        margin: 0

$h2-size: $unit * 2
h2
    +font-size($h2-size)
    font-weight: 200
    text-transform: capitalize

h3
    +font-size($unit)
    font-weight: 200

a
    color: $grey-darkest
    outline: none

footer
    margin: $spacing * 1.5 0
    text-align: center
    a
        margin: 0 $spacing / 4

.brand
    width: $unit * 1.5
    height: $unit * 1.5

span.right
    float: right

// === Navigation === //

nav
    margin: $spacing/2 (-$spacing/2)
    text-align: right
    a
        font-weight: 500
        text-decoration: none
        color: $grey-light
        transition: color 0.15s
        padding: $spacing / 2
        display: inline-block
        &:hover
            color: $grey-dark
        &+a
            margin-left: 0
        &.active
            color: $grey-darkest

@media (max-width: 576px)
    nav
        text-align: center

nav
    background: $white
    z-index: 2
    position: sticky
.top-link
    display: block
    text-align: center
    position: sticky
    top: 0
    line-height: $spacing * 2
    margin-top: -$spacing * 2
    z-index: 1
    text-decoration: none
    background: rgba($white, 0.4)
    transition: background 0.15s
    &:hover
        background: rgba($white, 0.5)

// === Grid === //

.grid
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr))
    grid-gap: $spacing

@media (max-width: 570px) and (max-aspect-ratio: 1/1)
    .grid
        grid-template-columns: 1fr

@media (max-height: 570px) and (min-aspect-ratio: 1/1)
    .grid
        grid-template-columns: 1fr 1fr

// === Image container === //

.img-container
    position: relative
    padding-bottom: 100%
    background: $grey-lightest
    transition: 0.15s
    overflow: hidden
    img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        object-fit: cover
        color: transparent
    &.dark
        background: $grey-dark

a:hover .img-container, a.img-container:hover
    cursor: pointer
    opacity: 0.6
    box-shadow: rgba($grey-darkest, 0.3) 0 $spacing/16 $spacing/4

.listing
    text-decoration: none
    .img-container
        width: 100%
    .prompt
        text-decoration: underline

// === Lightbox === //

.lightbox
    $control-size: $h2-size * 1.2
    color: $grey-lightest
    .item
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        position: fixed
        top: 0
        left: 0
        right: 0
        bottom: 0
        z-index: 10
        background: rgba($grey-darkest, 0.9)
        img
            margin: $spacing 0
            width: 100%
            height: 0
            flex-grow: 1
            object-fit: contain
        .title
            height: $h2-size * 1.2
            margin-top: 0
            margin-bottom: $spacing
            margin-left: $control-size + $spacing
            margin-right: $control-size + $spacing
            text-align: center
            display: flex
            align-items: center
            justify-content: center
        .control
            position: absolute
            text-decoration: none
            display: flex
            align-items: center
            &.left
                left: 0
                top: 0
                right: 50%
                bottom: 0
                align-items: flex-end
                span
                    background-image: url(/svg/angle-left-solid.svg)
            &.right
                left: 50%
                top: 0
                right: 0%
                bottom: 0
                justify-content: flex-end
                align-items: flex-end
                span
                    background-image: url(/svg/angle-right-solid.svg)
            &.close
                top: 0
                right: 0
                span
                    background-image: url(/svg/times-solid.svg)
            span
                width: $control-size
                height: $control-size
                margin: $spacing
                box-sizing: content-box
                filter: invert(100%)
                background-position: center
                background-repeat: no-repeat
                background-size: $control-size $control-size
    .item:not(:target)
        display: none
