@use "sass:math"

$unit: 11pt
$spacing: $unit * 2

$white: white
$grey-lightest: #eee
$grey-light: #afafaf
$grey-dark: #414141
$grey-darkest: #111

@mixin font-size($size)
    font-size: $size
    line-height: $size * 1.2

@import 'fonts'

// Base styles

html
    margin: 0
    scroll-behavior: smooth
    color: $grey-darkest
    background: $white
    +font-size($unit)

body
    font-family: 'Poppins', sans-serif
    margin: $spacing auto
    padding: 0 $spacing
    max-width: calc(max(80vw, 1280px))

h1
    +font-size($unit * 3.6)
    font-weight: 200
    text-align: center
    margin-top: $spacing * 2
    margin-bottom: $spacing
    a
        text-decoration: none
        outline: none
        margin-right: -0.04em
    p
        +font-size($unit)
        font-weight: 200
        margin: 0
    .title
        +font-size($unit * 1.69)
    .subtitle
        width: 15.92em
        text-align: right
        margin: auto

$h2-size: $unit * 2
h2, summary
    +font-size($h2-size)
    font-weight: 200
    text-transform: capitalize
    margin-top: $spacing
    margin-bottom: $spacing

h3
    +font-size($unit)
    font-weight: 200

a
    color: $grey-darkest
    img
        height: 100%

footer
    margin: $spacing * 1.5 0
    text-align: center
    .brand
        width: $unit * 1.5
        height: $unit * 1.5

.brands
    display: inline-flex
    vertical-align: middle

.brand
    display: inline-block
    padding: 0 math.div($spacing, 4)

span.right
    float: right

// === Navigation === //

nav
    margin: math.div($spacing, 2) 0
    text-align: right
    a
        font-weight: 500
        text-decoration: none
        outline: none
        color: $grey-light
        transition: color 0.3s
        padding: math.div($spacing, 2)
        display: inline-block
        vertical-align: middle
        &:focus
            color: mix($grey-light, $grey-dark, 50%)
            text-decoration: underline
        &:hover,
        &:active
            color: $grey-dark
        &+a
            margin-left: 0
        &.active
            color: $grey-darkest

    .brand
        height: 1.2em

@media (max-width: 576px)
    nav
        text-align: center
    h2
        text-align: center

// === Top link === //

.top-link
    position: fixed
    bottom: $spacing * 0.5
    left: 50%
    width: $spacing * 2
    padding-left: math.div($spacing, 8)
    box-sizing: border-box
    font-size: $spacing
    line-height: $spacing * 2
    text-align: center
    text-decoration: none
    outline: none
    z-index: 1
    transform: rotate(-90deg) translate(0%, -50%)
    background: $white
    border-radius: 50%
    opacity: 0
    transition: opacity 0.5s, box-shadow 0.3s
    pointer-events: none
    &.show
        opacity: 1
        pointer-events: all
    &:hover
        box-shadow: rgba($grey-darkest, 0.3) #{-1 * math.div($spacing, 16)} 0 math.div($spacing, 4)
    &:focus
        background: $grey-lightest
footer
    margin-bottom: $spacing * 4
@keyframes enter
    0%
        opacity: 0
    100%
        opacity: 1
@keyframes exit
    0%
        opacity: 1
    100%
        opacity: 0

// === Grid === //

.grid
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr))
    grid-gap: $spacing

@media (max-width: 570px) and (max-aspect-ratio: 1/1)
    .grid
        grid-template-columns: 1fr

@media (max-height: 570px) and (min-aspect-ratio: 1/1)
    .grid
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))

// === Image container === //

.img-container
    position: relative
    padding-bottom: 100%
    transition: 0.3s
    img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        object-fit: cover
        color: transparent
    &.dark
        background: $grey-lightest

a.img-container
    outline: none

a:focus .img-container, a.img-container:focus
    filter: drop-shadow(0 math.div($spacing, 16) math.div($spacing, 4) rgba($grey-darkest, 0.3))
    opacity: 0.8

a:hover .img-container, a.img-container:hover
    filter: drop-shadow(0 math.div($spacing, 16) math.div($spacing, 4) rgba($grey-darkest, 0.3))
    opacity: 0.6

.listing
    text-decoration: none
    outline: none
    .img-container
        width: 100%
    .prompt
        text-decoration: underline

// === Lightbox === //

.lightbox
    $control-size: $h2-size * 1.2
    .item
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        position: fixed
        top: 0
        left: 0
        right: 0
        bottom: 0
        z-index: 10
        background: $white
        &, a
            color: $grey-darkest
        a
            background: none
            outline: none
        img
            width: 100%
            height: 0
            flex-grow: 1
            object-fit: contain
            background-position: center
            background-repeat: no-repeat
            background-size: contain
            color: transparent
        .title
            height: $h2-size * 1.2
            margin-top: math.div($spacing, 4)
            margin-bottom: $spacing
            display: flex
            align-items: center
            justify-content: center
        .info
            text-transform: lowercase
            font-weight: 200
            &+.info
                margin-top: math.div($spacing, 8)
        .title, .info
            text-align: center
            margin-left: $control-size + $spacing
            margin-right: $control-size + $spacing
        .control
            position: absolute
            text-decoration: none
            outline: none
            display: flex
            -webkit-tap-highlight-color: transparent
            &.left, &.right
                top: 0%
                bottom: 0%
                align-items: flex-end
            &.left
                left: 0%
                right: 50%
            &.right
                left: 50%
                right: 0%
                justify-content: flex-end
            &.close
                top: 0%
                right: 0%
                align-items: center
            span
                display: block
                font-size: $control-size * 1.5
                font-weight: 200
                line-height: $control-size
                text-align: center
                width: $control-size
                height: $control-size
                margin: $spacing
        &:not(:target)
            display: none
        @media (max-height: 570px) and (min-aspect-ratio: 1/1)
            img
                margin: 0
            .title
                display: none

// === Collapse === //

.collapse-value
    position: absolute
    opacity: 0
    margin-top: $unit * 6
    &:focus + .collapse-control label
        text-decoration: underline
    &:checked + .collapse-control label
        color: $grey-light
        &:hover
            color: $grey-dark
        &:after
            transform: scaleY(-1) rotate(90deg)
    &:checked + .collapse-control + .collapse-target
        display: none
    &:checked:focus + .collapse-control label
        color: mix($grey-light, $grey-dark, 50%)

.collapse-control label
    cursor: pointer
    display: block
    transition: color 0.3s

.collapse-control label:after
    content: ">"
    transform: rotate(90deg)
    display: inline-block
    transition: transform 0.3s
    margin-left: math.div($spacing, 2)
